/* apps#index */
.apps {
  display: block;
  border-radius: 3px;
  padding: 40px 20px;
  margin-top: 15px;
  overflow: hidden;
  .avatar img {
    max-width: 80%;
    height: auto;
  }
  .pins {
    position: absolute;
    right: 50px;
    bottom: 80px;
    li {
      opacity: .7;
      &:hover {
        opacity: 1;
      }
    }
  }
}

#app {
  .avatar img {
    max-height: 90%;
    max-width: 90%;
  }
}

iframe#live {
  display: block;
  width: 100%;
  height: 100vh;
}

// upload

.dz-file-preview {
  .avatar, .dz-filename {
    opacity: 0.5;
  }
}

.dz-size {
  margin-top: 80%;
  margin-left: -25px;
  font-size: 1.2em;
  position: absolute !important;
}
