$grey:                   #575757 !default; // #555
$grey-base:              darken($grey, 33.5%) !default;
$grey-darker:            #0f0f0f !default; // #222
$grey-dark:              #191919 !default;   // #333
$grey-light:             #eaeaea !default; // #777
$grey-lighter:           #f4f4f4 !default; // #eee

//$brand-primary:         darken(#428bca, 6.5%) !default; // #337ab7
$brand-primary:         #CC0000 !default; // #337ab7
//$brand-success:         #5cb85c !default;
$brand-success:         #2cac53 !default;
//$brand-info:            #5bc0de !default;
$brand-info:            #287DB4 !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

$blue: $brand-info;
$blue-dark: darken($blue, 33.5%);

$orange: $brand-danger;
$orange-dark: darken($brand-danger, 33.5%);

$green: $brand-success;
$green-dark: darken($green, 33.5%);

$yellow: $brand-warning;
$yellow-dark: darken($brand-warning, 33.5%);

$black: #181818;
$black-dark: #181818; // redundant

$red: $brand-primary;
$red-dark: darken($brand-primary, 33.5%);

.text-yellow { color: $yellow }
.text-black { color: $black }
.text-red { color: $red }
.text-green { color: $green }
.text-white { color: $grey }

.bg-yellow { background-color: $yellow }
.bg-red { background-color: $red }
.bg-green { background-color: $green }
.bg-black { background-color: $black }

.stroke-black { text-shadow: 0 0 2px $black; }
