* {
	margin: 0;
	padding: 0;
	outline: none;
}

@font-face {
	font-family: Muli;
	src: url('/assets/fonts/Muli/Muli-Regular.ttf') format('truetype');
}

body, html {
	height: 100%;
	width: 100%;
	font-family: "Muli",  Helvetica, arial;
}

body {
	margin-bottom: 50px;
}

nav {
	height: 3px;
	width: 100%;
	z-index: 2000; /*highest*/
	background-color: $blue;
	@include box-shadow(0, 0, 5px, $grey);
}

#tools {
	bottom: 0;
	width: 100%;
	display: block;
	position: fixed;
	border: 1px solid $grey;
	background-opacity: .5;
	background-color: white;

	ul {
		float: left;
		height: 50px;
		li {
			margin: 12px;
			float: left;
			h2 {
				margin-top: -1px;
			}
			span {
				display: inline-block;
				padding-top: 12px;
			}
		}
		img {
			margin: -6px;
			max-height: 50px;
			width: auto;
		}
	}
}

/* apps#index */
.drawer {
	width: 100%;
	height: 100%;
	position: absolute;
	padding: 20px 0 50px 0;
	.apps {
		display: block;
		border-radius: 3px;
		padding: 40px 20px;
		margin-top: 15px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		img {
			width: auto;
			max-height: 140px;
		}
		i.fa {
			color: white;
			font-size: 140px;
		}
	}
	.context-menu {
		position: absolute;
		margin-top: -140px;
		margin-left: 60px;
	}
}


#app {
	.avatar img {
		max-height: 90%;
		max-width: 90%;
	}
}

iframe#live {
	position: absolute;
	overflow-y: hidden;
	width: 100%;
	height: 100%;
}

.light-frame {
	border-radius: 4px;
	border: 1px solid #ddd;
	border-bottom: 2px solid #ddd;
}

.blurry {
	@include blur(5px);
}

.desaturated {
	@include desaturate();
}

.slant {
	@include slant();
}