@mixin box-shadow($top, $left, $blur, $color, $inset:"") {

    -webkit-box-shadow:$top $left $blur $color #{$inset};
    -moz-box-shadow:$top $left $blur $color #{$inset};
    box-shadow:$top $left $blur $color #{$inset};
}

@mixin user-select($option) {
    -webkit-user-select: $option; /* Chrome/Safari */
    -moz-user-select: $option; /* Firefox */
    -ms-user-select: $option; /* IE10+ */
    -o-user-select: $option;
    user-select: $option;
}

@mixin radial-gradient($fromColor, $toColor) {
  background-color: $toColor; /* Fallback Color */
  background-image: -webkit-gradient(radial, left top, left bottom, from($fromColor), to($toColor)); /* Saf4+, Chrome */
  background-image: -webkit-radial-gradient($fromColor, $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-radial-gradient($fromColor, $toColor); /* FF3.6 */
  background-image:     -ms-radial-gradient($fromColor, $toColor); /* IE10 */
  background-image:      -o-radial-gradient($fromColor, $toColor); /* Opera 11.10+ */
  background-image:         radial-gradient($fromColor, $toColor);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}

@mixin transform-rotate($degrees) {
    -ms-transform: rotate($degrees); /* IE 9 */
    -webkit-transform: rotate($degrees); /* Chrome, Safari, Opera */
    transform: rotate($degrees);
}

@mixin flip() {
    -moz-transform: scaleX(-1);    /* Gecko */
  -o-transform: scaleX(-1);      /* Operah */
  -webkit-transform: scaleX(-1); /* webkit */
  transform: scaleX(-1);         /* standard */
  filter: FlipH;                 /* IE 6/7/8 */
}

@mixin box-sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

@mixin blur($radius) {
  -webkit-filter: blur($radius);
  -moz-filter: blur($radius);
  -o-filter: blur($radius);
  -ms-filter: blur($radius);
  filter: blur($radius);
}

@mixin slant {
  $deg: -5deg;
    -moz-transform: scale(1) rotate(0deg) translate(0px, 0px) skew($deg, 0deg);
    -webkit-transform: scale(1) rotate(0deg) translate(0px, 0px) skew($deg, 0deg);
    -o-transform: scale(1) rotate(0deg) translate(0px, 0px) skew($deg, 0deg);
    -ms-transform: scale(1) rotate(0deg) translate(0px, 0px) skew($deg, 0deg);
    transform: scale(1) rotate(0deg) translate(0px, 0px) skew($deg, 0deg);
}

@mixin desaturate{
-webkit-filter: greyscale(100%);
filter: greyscale(100%);
filter: grey;
filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}
