$navbar-width: 80px;

nav {
  height: 100%;
  display: block;
  background-color: $black;
  width: $navbar-width;
}

#tools {
  height: 100%;
  width: $navbar-width;
  background-color: inherit;
  position: fixed;
  z-index: 100;
  ul {
    li {
      display: block;
      width: $navbar-width;
      float: left;
      padding: 10px 0 5px 0;
      &:hover {

      }
      a {
        padding-left: 0px;
        color: $grey-lighter;
      }
    }
    img, .img {
      margin: auto;
      max-width: $navbar-width - 32px;
      -webkit-filter: brightness(0) invert(1);
      filter: brightness(0) invert(1);
      height: auto;
      font-size: 34px;
    }
  }
}
