<div class="apps">
  <div class="avatar clickable" ng-click="open()">
    <img ng-src="/apps/{{app.name}}/logo" alt="/apps/{{app.name}}/logo" />
  </div>

  <pins app="app"></pins>

  <h4 class="text-red clickable" ng-click="open()">{{app.name}}</h4>
</div>

<span ng-show="$parent.activities" ng-click="stop()">
  <a  class="btn btn-warning" href="javascript:void(0)">
    <i class="fa fa-ban"></i> Stop
  </a>
</span>

<span ng-show="$parent.uninstall" ng-click="delete()">
  <a class="btn btn-danger" href="javascript:void(0)">
    <i class="fa fa-trash"></i> Uninstall
  </a>
</span>
