<section id="drawer" style="min-height: 100vh" class="container-fluid text-center">

  <h2 ng-hide="activities" ng-if="apps.length === 0">
    <br/><br/>
    It seems you have not installed any apps yet.<br/><br/>
    Find some at the <a class="link" target="_blank"
    href="//market.netbeast.co">marketplace</a>
  </h2>

  <h2 ng-show="activities" ng-if="activities.length === 0">
    <br/><br/>
    It seems you have not any apps runnning.<br/><br/>
    Install some from the <a class="link" target="_blank"
    href="//netbeast.co">marketplace</a> or launch them from this Dashboard
  </h2>

  <span ng-hide="activities" data-ng-repeat="app in apps">
    <app app="app" ng-hide="app.netbeast.type === 'service'" class="col-xs-12 col-sm-4 col-md-3">
    </app>
  </span>

  <span data-ng-repeat="activity in activities">
    <app app="activity" ng-hide="activity.netbeast.type === 'service'" class="col-xs-12 col-sm-4 col-md-3">
    </app>
  </span>

  <!-- dropzone template, keep hidden with ng-hide -->
  <div class="dz-template dz-preview dz-file-preview" ng-hide="true">
    <article class="col-xs-12 col-sm-4 col-md-3">
      <div class="apps">

        <div class="avatar">
          <img src="/img/dflt.png" alt="Upload app" />
        </div>
        <div class="dz-details">
          <div class="dz-size badge bg-blue text-white" data-dz-size>data-dz-size</div>
          <div class="dz-filename"><h4 data-dz-name class="text-red">data-dz-name</h4></div>
        </div>

        <div class="dz-error-message">
          <span data-dz-errormessage alert alert-danger>data-dz-errormessage</span>
        </div>
      </div>

    </article>
  </div>

</section>
