<section id="drawer" style="min-height: 100vh" class="container-fluid text-center">

  <div ng-hide="activities" ng-if="_apps.length === 0" class="text-left container">
    <h2>
      <br/><br/>
      It seems you have not installed any apps yet.<br/>
      Find some at the <a class="link" target="_blank"
      href="//netbeast.co">marketplace</a>.
    </h2>
    <h4>(Release coming soon)</h4>
  </div>

  <div ng-show="activities" ng-if="_activities.length === 0" class="text-left container">
    <h2>
      <br/><br/>
      It seems you have not any apps runnning.<br/>
      Click on some from the <a href="/">dashboard!</a>
    </h2>
  </div>

  <span ng-hide="activities" data-ng-repeat="app in _apps">
    <app app="app" class="col-xs-12 col-sm-4 col-md-3">
    </app>
  </span>

  <span data-ng-repeat="activity in _activities">
    <app app="activity" class="col-xs-12 col-sm-4 col-md-3">
    </app>
  </span>

  <!-- dropzone template, keep hidden with ng-hide -->
  <div class="dz-template dz-preview dz-file-preview" ng-hide="true">
    <article class="col-xs-12 col-sm-4 col-md-3">
      <div class="apps">

        <div class="avatar">
          <img src="/img/dflt.png" alt="Upload app" />
        </div>
        <div class="dz-details">
          <div class="dz-size badge bg-blue text-white" data-dz-size>data-dz-size</div>
          <div class="dz-filename"><h4 data-dz-name class="text-red">data-dz-name</h4></div>
        </div>

        <div class="dz-error-message">
          <span data-dz-errormessage alert alert-danger>data-dz-errormessage</span>
        </div>
      </div>

    </article>
  </div>

</section>
