<br/><br/><br/><br/>
<div id="app" class='container'>
  <section class="col-xs-12 col-sm-12 col-md-4">
    <div class="avatar">
      <img ng-src="apps/{{app.name}}/logo"
      alt="apps/{{app.name}}/logo" />
    </div>
    <br/>
    <h4>{{app.name}} by {{app.author}}</h4>
    <table class="table">
      <tr>
        <td>Version</td>
        <td>{{app.version}}</td>
      </tr>
      <tr>
        <td>Downloads</td>
        <td>{{app.downloads}}</td>
      </tr>
      <tr>
        <td>License</td>
        <td>{{app.license}}</td>
      </tr>
      <tr>
        <td>Key words</td>
        <td>
          <span ng-repeat="keyword in app.keywords">
            #{{keyword}}
          </span>
        </td>
      </tr>
    </table>

    <a href="/#/apps/{{app.name}}" ng-hide="app.bootOnLoad" class="btn btn-default" ng-click="update(true)">
      <i class="fa fa-thumb-tack"> Start this app on boot</i>
    </a>

    <a href="/#/apps/{{app.name}}" ng-show="app.bootOnLoad" class="btn btn-default" ng-click="update(false)">
      <i class="fa fa-thumb-tack"> Unpin this app from start on boot</i>
    </a>

  </section>
  <section class="col-xs-12 col-sm-12 col-md-8">
    <div>
      <h2>{{app.name}}</h2>
      <h3>{{app.description}}</h3>
      <a ng-show="href"  class="btn btn-info" href="#/i/{{app.name}}">
        Open {{app.name}}
      </a>
      <a ng-hide="href" class="btn">
        Launching {{app.name}}...
      </a>
      <hr/>
      <div ng-bind-html="readme"></div>
      <hr/>
      <a ng-href="/#/apps/{{app.name}}/edit">
        <i class="fa fa-pencil"> Edit package (advanced)</i>
      </a>
    </div>
    <br/>
  </div>
</section>
</div>
<br/>
<br/>
<br/>
<br/>
