<br/><br/>
<section class="container">
	<div class="list-group">
		<a href="/logout" class="list-group-item">
			<h4 class="list-group-item-heading">
				Log out
			</h4>
			<p class="list-group-item-text">
				Remove your email from the configuration
			</p>
		</a>
		<a href="/#/install" class="list-group-item">
			<h4 class="list-group-item-heading">
				Install from package
			</h4>
			<p class="list-group-item-text">
				Install directly by drag and drop your application.tar.gz
			</p>
		</a>
		<a href="javascript:void(0)" 
		class="list-group-item list-group-item-warning">
		<h4 class="list-group-item-heading">
		<label class="label label-default label-xs">Soon</label> Update Dashboard
		</h4>
		<p class="list-group-item-text disable">
			Updates to the last version of the xway dashboard. <u>Apps will shutdown, service will be restarted.</u> May take a while.
		</p></a>
		<a href="/#/routes" class="list-group-item">
			<h4 class="list-group-item-heading">
				<label class="label label-danger label-xs">Dev</label> Routes</h4>
				<p class="list-group-item-text">
					Show the available HTTP API
				</p>
			</a>
		</div>
	</section>