<div id="tools">
  <ul class="list-unstyled">
    <li title="Home" class="hidden-xs">
      <a href="/#/" class="slant">
        <h2>xway.io</h2>
      </a>
    </li>
    <li>
      <a href="/#/">
        <img src="img/xway.png">
      </a>
    </li>
    <li title="Home" class="hidden-xs">
      <a href="/#/" id="title">
        <span>{{title}}</span>
      </a>
    </li>
  </ul>
  <ul class="pull-right list-unstyled">
    <li title="Select app to remove">
      <a href="/#/remove" class="btn btn-danger">
        <i class="fa fa-trash"> <i class="hidden-xs">Uninstall</i> </i>
      </a>
    </li>
    <li>
      <a href="/#/install" class="btn btn-info" title="Install a new app">
        <i class="fa fa-cubes"> <i class="hidden-xs">Install App</i></i>
      </a>
    </li>
    <li>
      <a href="/#/activities" class="btn btn-warning" title="Show running apps">
        <i class="fa fa-heartbeat"> <i class="hidden-xs">Activities</i></i>
      </a>
    </li>
  </ul>
</div>