<div id="tools">
  <ul>
    <li title="Home">
      <a href="/#/" id="brand">
        <span>xway</span>
      </a>
    </li>
    <li title="Home">
      <a href="/#/" id="title">
        <span>{{title}}</span>
      </a>
    </li>
    <li title="Select app to remove">
      <a href="/#/remove" class="btn danger">
        <i class="fa fa-trash"> Uninstall </i>
      </a>
    </li>
    <li>
      <a href="/#/install" class="btn info" title="Install a new app">
        <i class="fa fa-cubes"> Install App</i>
      </a>
    </li>
    <li>
      <a href="/#/activities" class="btn warning" title="Show running apps">
        <i class="fa fa-heartbeat"> Activities</i>
      </a>
    </li>
  </ul>
</div>