<nb-title value="'Log in'"></nb-title>

<br/><br/>
<div ng-hide="token" class="row">
  <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 col-sm-offset-2 col-md-offset-3 col-lg-offset-4">
    <form role="form" ng-submit="resetPassword(email)">
      <h2>Forgot your pass?<br/><small class="text-black">Do not worry.</small></h2>

      <p>
        We will send you a mail with a link that will allow you to
        introduce a new password.
      </p>

      <div class="form-group">
        <input type="email" class="form-control input-lg" ng-model="email"
        placeholder="Email Address">
      </div>
      <button type="submit" class="btn btn-primary btn-block btn-lg">
        Recover your password
      </button><br/>

      <p class="text-left">
        <small>
          <a href="/#/login" title="Password Recovery">
            Have you remembered already your password?
          </a>
          <br/>
          <a href="/#/signup" title="Register">
            Dont you have an account yet? Sign up!
          </a>
        </small>
      </p>

    </form>
  </div>
</div>

<div ng-show="token" class="row">
  <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 col-sm-offset-2 col-md-offset-3 col-lg-offset-4">
    <form role="form" ng-submit="updatePassword(user)">
      <h2>Forgot your pass?<br/><small class="text-black">Do not worry.</small></h2>

      <p>
        Type your new password, with its confirmation and you will be able to log in again!
      </p>

      <div class="form-group">
        <input type="password" class="form-control input-lg"
        ng-model="user.password" placeholder="Password">
      </div>
      <div class="form-group">
        <input type="password" class="form-control input-lg"
        ng-model="user.password_confirmation" placeholder="Password Confirmation">
      </div>
      <button type="submit" class="btn btn-primary btn-block btn-lg">
        Reset password
      </button><br/>

      <p class="text-left">
        <small>
          <a href="/#/login" title="Password Recovery">
            Have you remembered already your password?
          </a>
          <br/>
          <a href="/#/signup" title="Register">
            Dont you have an account yet? Sign up!
          </a>
        </small>
      </p>

    </form>
  </div>
</div>
