// Place all the styles related to the apps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$apps-width: 140px;
$apps-height: 200px;

.apps {
	display: block;
	border-radius: 5%;
	margin: 20px;
	float: left;
	width: $apps-width;
	.avatar {
		color: $blue;
		line-height: $apps-width;
		font-size: $apps-width;
		width: $apps-width;
		height: $apps-width;
		img {
			height: auto;
			width: $apps-width;
			height: $apps-width;
		}
	}
	.name {
		padding: 3px;
		text-align: center;
		font-weight: 700;
	}
	.del-overlay {
		z-index: 1000;
		display: block;
		position: absolute;
		width: $apps-width;
		height: $apps-height;
		.btn {
			position: absolute;
			margin-top: $apps-width / 2 - 8px;
			margin-left: $apps-width / 4;
			@include box-shadow(0, 0, 15px, 3px, rgba(10,10,10,.5));
		}
	}
}

.drawer {
	width: 80%;
	padding: 50px;
	margin: 0 auto;
	display: block;
}

#app{
	section {
		float: left;
		display: block;
		height: 100%;
	}
	#avatar-n-launcher {
		.avatar {
			padding: 30px;
			color: $blue;
			line-height: $apps-width;
			font-size: $apps-width;
			width: $apps-width;
			height: $apps-width;
			img {
				height: auto;
				width: $apps-width;
				height: $apps-width;
			}
		}
	}
	#app-details {
		padding: 30px;
		ul { 
			li {
				padding: 5px;
			} 
		}
		p { width: 500px; }
	}
	.error {
		padding: 10px;
		background-color: $red;
		display: block;
		border-radius: 4px;
		color: white;
	}

}

.activities {
	@extend .apps;
	.avatar {
		background-color: $yellow;
	}
}

#installer-tabs {
	width: 100%;
	display: block;
	ul {
		display: block;
		margin: auto 0;
		height: 48px;
		font-size: 18px;
		line-height: 18px;
		background-color: $blue;
		li {
			height: 100%;
			float: left;
			a {
				padding: 16px;
				display: inline-block;
			}
			&:hover, &.active {
				color: white;
				//endarken blue =>
				background-color: $blue - #111111;
			}
		}
	}
}

.dropzone {
	padding: 0;
	height: 450px;
	border: 3px dashed $grey;
	margin: 20px 20px 0 20px;
	.dz-message {
		padding-top: 50px;
	}
}
