* {
	margin: 0;
	padding: 0;
	outline: none;
}

@font-face {
    font-family: Muli;
    src: url('../fonts/Muli/Muli-Regular.ttf') format('truetype');
}

body, html {
	height: 100%;
	width: 100%;
	font-family: 'Muli', sans-serif;
}

a  {
	text-decoration: none;
	font-decoration: none;
	color: inherit;
}

ul, li {
	list-style: none;
}

$indicators-bar-height: 3px;
$bar-item-height: 24px;

nav {
	height: $indicators-bar-height;
	width: 100%;
	z-index: 2000; /*highest*/
	background-color: $blue;
	@include box-shadow(0, 0, 5px, $grey);
	line-height: 52px;
	p {
		padding: 6px;
	}
	.indicator {
		float: left;
		&:hover {
			background-color: $green-dark;
		}
	}
	img.indicator {
		width: $bar-item-height;
		height: $bar-item-height;
		padding: 4px;
	}
	i.indicator {
		font-size: $bar-item-height;
		line-height: $bar-item-height;
		padding: 4px;
	}
}

#tools {
	bottom: 0;
	width: 100%;
	display: block;
	position: fixed;
	border: 1px solid $grey;
	background-opacity: .5;
	background-color: white;
	#brand {
		@include slant();
		padding: 3px;
		font-weight: bold;
		font-size: 1.6em;
	}

	#title {
		padding: 12px 4px;
		background-color: none;
	}

	ul {
		width: 100%;
		height: 64px;
		li {
			height: 100%;
			float: right;
			&:first-child, &:nth-child(2) {
				float: left;
			}
			a.btn, #brand, #title {
				height: 16px;
				margin: 12px;
				display: inline-block;
			}
		}
	}
}

/* forms */

input, textarea, select, .uneditable-input {
	border: $blue;
	width: auto;
	margin-bottom: 15px;
	@include box-sizing;
	font-size: 1.1rem;
	font-family: inherit;
	padding: 10px;
}

input[type=text],
input[type=email],
input[type=password],
input[type=url] {
	min-height: 30px;
	border-bottom: 2px solid $blue;
	border-radius: none;
	padding-bottom: -8px;
}

.btn {
	cursor: pointer;
	padding: 10px;
	border-radius: 3px;
	background-color: $grey;
	&.info { background-color: $blue; }
	&.danger { background-color: $red; }
	&.warning {	background-color: $yellow; }
	&.success {	background-color: $yellow; }
}

.blurry {
		@include blur(5px);
}

.desaturated {
	@include desaturate();
}

.clickable {
	cursor: pointer;
}
