@import url(../fa/css/font-awesome.css);
@import url(../bower_components/dropzone/dist/dropzone.css);
* {
  margin: 0;
  padding: 0;
  outline: none; }

@font-face {
  font-family: Muli;
  src: url("../fonts/Muli/Muli-Regular.ttf") format("truetype"); }
body, html {
  height: 100%;
  width: 100%;
  font-family: 'Muli', sans-serif; }

a {
  text-decoration: none;
  font-decoration: none;
  color: inherit; }

ul, li {
  list-style: none; }

nav {
  height: 3px;
  width: 100%;
  z-index: 2000;
  /*highest*/
  background-color: #73C5E1;
  -webkit-box-shadow: 0 0 5px #F2F2F3 ;
  -moz-box-shadow: 0 0 5px #F2F2F3 ;
  box-shadow: 0 0 5px #F2F2F3 ; }

#tools {
  bottom: 0;
  width: 100%;
  display: block;
  position: fixed;
  border: 1px solid #F2F2F3;
  background-opacity: .5;
  background-color: white; }
  #tools #brand {
    -moz-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-5deg, 0deg);
    -webkit-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-5deg, 0deg);
    -o-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-5deg, 0deg);
    -ms-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-5deg, 0deg);
    transform: scale(1) rotate(0deg) translate(0px, 0px) skew(-5deg, 0deg);
    padding: 3px;
    font-weight: bold;
    font-size: 1.6em; }
  #tools #title {
    padding: 12px 4px;
    background-color: none; }
  #tools ul {
    width: 100%;
    height: 64px; }
    #tools ul li {
      height: 100%;
      float: right; }
      #tools ul li:first-child, #tools ul li:nth-child(2) {
        float: left; }
      #tools ul li a.btn, #tools ul li #brand, #tools ul li #title {
        height: 16px;
        margin: 12px;
        display: inline-block; }

/* forms */
input, textarea, select, .uneditable-input {
  border: #73C5E1;
  width: auto;
  margin-bottom: 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1.1rem;
  font-family: inherit;
  padding: 10px; }

input[type=text],
input[type=email],
input[type=password],
input[type=url] {
  min-height: 30px;
  border-bottom: 2px solid #73C5E1;
  border-radius: none;
  padding-bottom: -8px; }

.btn {
  cursor: pointer;
  padding: 10px;
  border-radius: 3px;
  background-color: #F2F2F3; }
  .btn.info {
    background-color: #73C5E1; }
  .btn.danger {
    background-color: #e65656; }
  .btn.warning {
    background-color: #FFD452; }
  .btn.success {
    background-color: #FFD452; }

.blurry {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px); }

.desaturated {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale"); }

.clickable {
  cursor: pointer; }

.table {
  border-radius: 4px;
  display: block; }
  .table td, .table th {
    padding: 10px; }
  .table tr {
    width: 100%;
    background-color: #F2F2F3; }

.apps, .activities {
  display: block;
  border-radius: 5%;
  margin: 20px;
  float: left;
  width: 140px; }
  .apps .avatar, .activities .avatar {
    color: #73C5E1;
    line-height: 140px;
    font-size: 140px;
    width: 140px;
    height: 140px; }
    .apps .avatar img, .activities .avatar img {
      height: auto;
      width: 140px;
      height: 140px; }
  .apps .name, .activities .name {
    padding: 3px;
    text-align: center;
    font-weight: 700; }
  .apps .del-overlay, .activities .del-overlay {
    z-index: 1000;
    display: block;
    position: absolute;
    width: 140px;
    height: 200px; }
    .apps .del-overlay .btn, .activities .del-overlay .btn {
      position: absolute;
      margin-top: 62px;
      margin-left: 35px;
      -webkit-box-shadow: 0 0 15px 3px rgba(10, 10, 10, 0.5);
      -moz-box-shadow: 0 0 15px 3px rgba(10, 10, 10, 0.5);
      box-shadow: 0 0 15px 3px rgba(10, 10, 10, 0.5); }

.drawer {
  width: 80%;
  padding: 50px;
  margin: 0 auto;
  display: block; }

#app section {
  float: left;
  display: block;
  height: 100%; }
#app #avatar-n-launcher .avatar {
  padding: 30px;
  color: #73C5E1;
  line-height: 140px;
  font-size: 140px;
  width: 140px;
  height: 140px; }
  #app #avatar-n-launcher .avatar img {
    height: auto;
    width: 140px;
    height: 140px; }
#app #app-details {
  padding: 30px; }
  #app #app-details ul li {
    padding: 5px; }
  #app #app-details p {
    width: 500px; }

.error, div.error {
  padding: 10px;
  background-color: #e65656;
  border-radius: 4px;
  color: white; }

div.error {
  display: block; }

.activities .avatar {
  background-color: #FFD452; }

#install #tabs {
  width: 100%;
  display: block; }
  #install #tabs ul {
    display: block;
    margin: auto 0;
    height: 48px;
    font-size: 18px;
    line-height: 18px;
    background-color: #73C5E1; }
    #install #tabs ul li {
      height: 100%;
      float: left; }
      #install #tabs ul li a {
        padding: 16px;
        display: inline-block; }
      #install #tabs ul li:hover, #install #tabs ul li.active {
        color: white;
        background-color: #62b4d0; }
#install .dropzone {
  padding: 0;
  height: 450px;
  border: 3px dashed #F2F2F3;
  margin: 20px 20px 0 20px; }
  #install .dropzone .dz-message {
    padding-top: 50px; }
#install #github {
  text-align: center;
  color: #F2F2F3;
  font-size: 100px; }
  #install #github .fa-github, #install #github .fa-bitbucket {
    font-size: 20px; }
  #install #github input[type=text], #install #github input[type=url] {
    margin-top: 30px;
    text-align: center;
    width: 500px; }
#install #docker {
  color: #F2F2F3;
  text-align: center; }
  #install #docker h3 {
    font-size: 100px; }

/*# sourceMappingURL=style.css.map */
