<nb-title value="'Log in'"></nb-title>
<nb-meta-description content="'Log in'"></nb-meta-description>

<br/><br/>
<div class="row">
  <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 col-sm-offset-2 col-md-offset-3 col-lg-offset-4">
    <form role="form" ng-submit="login(credentials)">
      <h2>Feel welcome! <br/><small class="text-black">(We missed you)</small></h2>

      <a href="/auth/github" class="btn btn-default btn-block btn-lg">
        <i class="fa fa-github"></i> Login with GitHub
      </a>

      <h3 class="text-center">· Or ·</h3>

      <div class="form-group">
        <input type="email" name="email" class="form-control input-lg"
        ng-model="credentials.email" placeholder="Email Address">
      </div>
      <div class="form-group">
        <input type="password" name="password"
        ng-model="credentials.password" class="form-control input-lg"
        placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary btn-block btn-lg">
        Login
      </button><br/>

      <p class="text-left">
        <small>
          <a href="/#/recover-password" title="Password Recovery">
            Have you forgotten your password?
          </a>
          <br/>
          <a href="/#/signup" title="Register">
            Dont you have an account yet? Sign up!
          </a>
        </small>
      </p>

    </form>
  </div>
</div>
