<nb-title value="'User profile'"></nb-title>
<nb-panel></nb-panel>
<br/><br/><br/>

<div id="user" class="container-fluid">
  <section class="col-xs-12 col-md-4">
    <div class="avatar">
      <img ng-src="http://gravatar.com/avatar/{{u.gravatar}}?d=retro&s=300"
      alt="{{u.alias}} gravatar">
    </div>
    <h3>{{u.alias}}</h3>

    <table class="table text-black">
      <tr>
        <td>Registered</td>
        <td>{{u.updated | date:'medium'}}</td>
      </tr>
    </table>
  </section>

  <section class="col-xs-12 col-md-8 text-center">
    <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="col in cols">
      <app app="app"  data-ng-repeat="app in col | filter:search.text">
      </app>
    </div>
  </section>
</div>

<br/><br/><br/><br/>
