* {
	margin: 0;
	padding: 0;
	outline: none;
}

@font-face {
	font-family: Muli;
	src: url('/assets/fonts/Muli/Muli-Regular.ttf') format('truetype');
}

body, html {
	height: 100%;
	width: 100%;
	font-family: "Muli",  Helvetica, arial;
}
body {
	margin-bottom: 50px;
}

a  {
	text-decoration: none;
	font-decoration: none;
	color: inherit;
}

nav {
	height: 3px;
	width: 100%;
	z-index: 2000; /*highest*/
	background-color: $blue;
	@include box-shadow(0, 0, 5px, $grey);
}

#tools {
	bottom: 0;
	width: 100%;
	display: block;
	position: fixed;
	border: 1px solid $grey;
	background-opacity: .5;
	background-color: white;

	ul {
		float: left;
		height: 50px;
		li {
			margin: 12px;
			float: left;
			h2 {
				margin-top: -1px;
			}
			span {
				display: inline-block;
				padding-top: 12px;
			}
		}
		img {
			margin: -6px;
			max-height: 50px;
			width: auto;
		}
	}
}

.del-overlay {
	position: absolute;
	left: 50%; top: 50%;
	margin-top: -25px;
	margin-left: -35px;
	z-index: 1000;
}

/* apps#index */
.drawer {
	width: 100%;
	padding: 20px 0 50px 0;
	.apps {
		display: block;
		border-radius: 3px;
		padding: 40px 20px;
		margin-top: 15px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		img {
			width: auto;
			max-height: 140px;
		}
		i.fa {
			color: white;
			font-size: 140px;
		}
	}
}


#install {
	#tabs {
		width: 100%;
		display: block;
		ul {
			display: block;
			margin: auto 0;
			height: 48px;
			font-size: 18px;
			line-height: 18px;
			background-color: $blue;
			li {
				height: 100%;
				float: left;
				a {
					padding: 16px;
					display: inline-block;
				}
				&:hover, &.active {
					color: white;
					//endarken blue =>
					background-color: $blue - #111111;
				}
			}
		}
	}

	.dropzone {
		padding: 0;
		height: 450px;
		border: 3px dashed $grey;
		margin: 20px 20px 0 20px;
		.dz-message {
			font-size: 3em;
			padding-top: 50px;
		}
		&:hover {
			border: 3px dashed $blue;
		}
	}
}

iframe#live {
	position: absolute;
	overflow-y: hidden;
	width: 100%;
	height: 100%;
}

.light-frame {
	border-radius: 4px;
	border: 1px solid #ddd;
	border-bottom: 2px solid #ddd;
}

.blurry {
	@include blur(5px);
}

.desaturated {
	@include desaturate();
}

.slant {
	@include slant();
}