<nav>
  <br/>
  <div id="tools" class="text-center">
    <ul class="list-unstyled">
      <li title="Home" class="hidden-xs">
        <a href="#/">
          <img src="img/logo_grey_basic.png" alt="NB" />
        </a>
      </li>
      <li>
        <a href="/#/" id="title">
          <img src="img/icons/activity.png" alt="Activities" />
        </a>
      </li>
      <li>
        <a href="#">
          <span class="img fa fa-trash"></span>
        </a>
      </li>
      <li>
        <a href="#">
          delete
        </a>
      </li>
    </ul>
  </div>
</nav>
