<nav>
  <br/>
  <div id="tools" class="text-center">
    <ul class="list-unstyled">
      <li title="Home" class="hidden-xs">
        <a href="#/">
          <img src="img/logo_grey_basic.png" alt="NB" />
        </a>
      </li>
      <li></li>
      <li>
        <a href="#/activities">
          <img src="img/icons/activity.png" alt="Activities" />
        </a>
      </li>
      <li></li>
      <li>
        <a href="#/uninstall">
          <img src="img/icons/bin.svg" alt="Uninstall" />
        </a>
      </li>
      <li>
      </li>
    </ul>
  </div>
</nav>
