<div id="tools">
  <ul class="list-unstyled">
    <li title="Home" class="hidden-xs">
      <a href="/#/" class="slant">
        <h2>netBeast</h2>
      </a>
    </li>
    <li title="Home" class="hidden-xs">
      <a href="/#/" id="title">
        <span>{{title}}</span>
      </a>
    </li>
  </ul>
  <ul class="pull-right list-unstyled">
    <li>
      <a href="/#/activities" class="btn btn-warning" title="Show running apps">
        <i class="fa fa-heartbeat"> <i class="hidden-xs">Activities</i></i>
      </a>
    </li>
    <li>
      <a href="/#/settings" class="btn btn-default" title="Go to settings">
        <i class="fa fa-gear"></i>
      </a>
    </li>
  </ul>
</div>