$grey:                   #333333 !default;
$grey-base:              darken($grey, 33.5%) !default;
$grey-darker:            #0f0f0f !default; // #222
$grey-dark:              #191919 !default;   // #333
$grey-light:             #eaeaea !default; // #777
$grey-lighter:           rgb(30, 30, 30) !default; // #eee

//$brand-primary-active:         darken(#428bca, 6.5%) !default; // #337ab7
$brand-primary:           #c33043 !default; // #337ab7
$brand-primary-disabled:  #a31c2b !default; // #337ab7

//$brand-success-active:         #5cb85c !default;
$brand-success:           #8af485 !default;
$brand-primary-disabled:  #3f9c55 !default; // #337ab7


//$brand-info-active:            #5bc0de !default;
$brand-info:              #77cfe8 !default;
$brand-primary-disabled:  #288097 !default; // #337ab7

//active
$brand-warning:           #f0d44e !default;
$brand-warning-disabled:  #e2bb3e !default;

$brand-danger:          #d9534f !default;

$blue: $brand-info;
$blue-dark: darken($blue, 33.5%);

$orange:  #f0ad4e;
$orange-dark: darken(#f0ad4e, 33.5%);

$green: $brand-success;
$green-dark: darken($green, 33.5%);

$yellow: $brand-warning;
$yellow-dark: darken($brand-warning, 33.5%);

$black: #181818;
$black-dark: #181818; // redundant

$red: $brand-primary;
$red-dark: darken($brand-primary, 33.5%);
