
//
// Components styling file
// Divide each component with big comment lines
// Indeed, it simplifies writing CSS
//

//====================================
// DASHBOARD COMPONENT
//====================================

#app, #dashboard, #dashboard main {
  width: 100%; height: 100%;
}

//====================================
// DRAWER COMPONENT
//====================================

.drawer {
  padding: 20px 50px;
}

.drawer .nav {
  text-align: left;
  @media (max-width: 920px) { padding: 20px 0 0 20px; }
  padding: 20px 160px 0 160px;
  max-width: 100%;
  ul li a {
    font-family: 'Proxima Nova';
    text-transform: uppercase;
    color: inherit;
  }
}

.drawer .fa.fa-package img { max-height: 20px; }

.drawer .apps-list {
  margin-top: -20px;
  @media (max-width: 920px) { padding: 20px 0 0 20px; }
  padding: 20px 160px 0 160px;
  text-align: left;
}

.drawer .apps-list .app {
  display: inline-block;
  vertical-align: top;
  border-radius: 3px;
  padding: 40px 23px;
  margin-top: 15px;
  text-align: center;

  .logo {
    width: 120px;
    height: 120px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    &:hover { cursor: pointer; }
  }

  .name {
    max-width: 120px;
    text-transform: capitalize;
    padding-top: 15px;
    font-size: 1.4rem;
  }

  &.warning {
    .pulse, .halo { stroke: $yellow; }
    .center { fill: $yellow; }
  }
}

.apps-list .remove.btn, .apps-list .stop.btn, .apps-list .install.btn {
  z-index: 10;
  position: absolute;
  margin-top: -70px;
  margin-left: -37px;
  width: 75px;
}

.pulse-container {
  margin-left: 100px;
  margin-top: -15px;
  width: 38px; height: 38px;
  position: absolute;
}

@-webkit-keyframes svg_pulse {
  0% {
    transform: matrix(1,0,1,0,0);
    stroke-width: 1;
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: matrix(4,0,0,4,-120,-120);
    stroke-width: 0.25;
    opacity: 0;
  }
}

.p-svg-pulse {
  .pulse {
    stroke: $brand-info;
    -webkit-animation: svg_pulse 3s ease;
    -webkit-animation-iteration-count: infinite;
  }
  .halo {
    stroke: $brand-info;
  }
  .center {
    fill: $brand-info;
  }
}

//====================================
// Nofications
//====================================

.notifications {
  z-index: 100;
  width: 300px;
  position: fixed;
  text-align: left;
  right: 50px; top: 50px;
  transform: scaleY(-1);
  overflow: hidden;

  .alert {
    opacity: 0.9;
    transform: scaleY(-1);
    border-width: 0;
    &:hover, &.current { opacity: 1 }
  }

  .alert.alert-info { background-color: white; color: $grey; }
  .alert.alert-error { background-color: $brand-primary; }
  .alert .title { text-transform: uppercase; font-weight: bolder; }
  .alert .body { padding-top: 5px; }
}

.notifications-pod {
  position: fixed;
  color: white;
  z-index: 1000;
  top: 25px; right: 150px;
}

//====================================
// App LiveView
//====================================

.app-live {
  width: 100%; height: 100%;
  background-color: white;
}

.live-return-menu {
  background-color: black;
  text-align: center;
  font-size: 75%;
  position: fixed;
  bottom: 0;
  width: 100%;
}

//====================================
// App InstallView
//====================================

.app-install {
  width: 100%; height: 100%;
  text-align: center;
  .preview {
    cursor: pointer;
    margin-top: 100px; margin-bottom: 50px;
    display: inline-block;
    vertical-align: middle;
    padding: 50px;
    transition: background 0.2s ease-in-out;
    &:hover, &.active {
      border: 4px solid $purple;
    }
  }
  .install-from-git input[name=url] {
    background-color: inherit;
    border: none;
    border-bottom: 2px solid white;
    font-size: 24px;
    width: 410px;
    padding: 20px 7px 7px 7px;
  }

  .install-from-git input[type=submit] { margin: 20px; }

  .install-from-git { padding: 20px 0 120px 0; }
}

//====================================
// NotFound
//====================================

.not-found {
  width: 100%;
  padding-top: 200px;
  text-align: center;
}

//====================================
// VERSION POD
//====================================

.version-pod {
  position: fixed;
  display: block;
  bottom: 5px; left: 5px;
  opacity: 0.25;
  &:hover {
    cursor: default;
    opacity: 1;
  }
}


//====================================
// FEEDBACK POD
//====================================

.feedback-pod {
  color: inherit;
  position: fixed;
  display: block;
  top: 50%; right: 0;
  margin-top: -10px;
  margin-right: -18px;
  text-decoration: none;
  transform: rotate(-90deg);
  opacity: 0.4;
  &:hover, &:active {
    color: inherit;
    text-decoration: none;
    opacity: 1;
  }
}


//====================================
// DEVICES POD
//====================================

.devices-pod {
  color: inherit;
  position: fixed;
  top: 5px; left: 5px;
  text-decoration: none;
  opacity: 0.5;
  &:hover, &:active {
    color: inherit;
    text-decoration: none;
    opacity: 1;
  }
}

//====================================
// Connection POD to show online status or internet availability
//====================================

.connection-pod {
  position: fixed;
  right: 10px; bottom: 10px;
  display: block;
  width: 12px; height: 12px;
  background-color: $brand-warning;
  border-radius: 50%;
  opacity: 0.8;
  &:hover { opacity: 1; }
  &.green { background-color: $brand-success; }
  &.red { background-color: $brand-primary; }
}

//====================================
// DEVICES MAP
//====================================

.popover-content {
  color: $grey;
}

.path-devices {
  text-align: center;
}

.devices-view {
  width: 100%;
  max-height: 100%;
  overflow: hidden;
  position: relative;

  svg.devices-map {
    width: 800px;
    height: 800px;
  }

  line.connection { opacity: 0.6; }

  .device {
    cursor: pointer;
    pointer-events: all;
    rect { fill: $grey-dark; }
    &:hover rect {
      opacity: 0.05;
      fill: white;
      stroke: white;
      stroke-width: 0.2;
    }
  }
}

.zoom-pod {
  position: fixed;
  bottom: 50px; left: 50px;
  .zoom-more, .zoom-less {
    border: 2px solid $brand-info;
    color: $brand-info;
    font-weight: bold;
    font-size: 1.4em;
    padding: 5px 10px;
  }
}

.refresh-pod {
  position: fixed;
  color: $grey-lighter;
  top: 5px; left: 5px;
}

//============================
// notification loader
//============================

.loader {
  margin: 0 5px;
  font-size: 3px;
  border: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #555555;
  transform: translateZ(0);
  display: inline-block;
  animation: loading 1.1s infinite linear;
}

.loader, .loader:after {
  border-radius: 50%;
  width: 6em;
  height: 6em;
}

@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

//============================
// notification loader
//============================

.history-view {
  text-align: center;
}

.history-data {
  display: inline-block;
  padding: 40px 80px;
  * { vertical-align: top; }
  .chart {
    display: inline-block;
    padding: 15px;
    margin: 15px;
    text-align: left;
    .latest-value {
      top: -2px;
      position: relative;
      font-size: 120%;
      font-weight: bolder;
      color: $blue;
    }
  }
  .topic {
    width: 300px;
    height: 240px;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    padding: 15px;
    margin: 15px;
    color: $grey;
    background-color: white;
    border-radius: 4px;
  }
}

//==============================
// User pod
//==============================

.user-pod {
  position: fixed;
  display: block;
  right: 25px;
  top: 15px;
}

.user-pod-name {
  padding: 10px;
  display: inline-block;
  vertical-align: top;
  float: right;
}
