
//
// Components styling file
// Divide each component with big comment lines
// Indeed, it simplifies writing CSS
//

//====================================
// DASHBOARD COMPONENT
//====================================

#app, #dashboard, #dashboard main {
  width: 100%; height: 100%;
}

//====================================
// DRAWER COMPONENT
//====================================

.drawer {
  padding: 20px 50px;
}

.drawer .nav {
  text-align: left;
  @media (max-width: 920px) { padding: 20px 0 0 20px; }
  padding: 20px 160px 0 160px;
  max-width: 100%;
  ul li a {
    font-family: 'Proxima Nova';
    text-transform: uppercase;
    color: inherit;
  }
}

.drawer .glyphicon.glyphicon-package img { max-height: 20px; }

.drawer .apps-list {
  margin-top: -20px;
  @media (max-width: 920px) { padding: 20px 0 0 20px; }
  padding: 20px 160px 0 160px;
  text-align: left;
}

.drawer .apps-list .app {
  display: inline-block;
  vertical-align: top;
  border-radius: 3px;
  padding: 40px 23px;
  margin-top: 15px;
  text-align: center;

  .logo {
    width: 120px;
    height: 120px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    &:hover { cursor: pointer; }
  }

  .name {
    max-width: 120px;
    padding-top: 15px;
    text-transform: uppercase;
    font-size: 1.4rem;
  }
}

.apps-list .remove.btn, .apps-list .stop.btn, .apps-list .install.btn {
  z-index: 10;
  position: absolute;
  margin-top: -70px;
  margin-left: -37px;
  width: 75px;
}

.pulse-container {
  margin-left: 100px;
  margin-top: -15px;
  width: 38px; height: 38px;
  position: absolute;
}

@-webkit-keyframes svg_pulse {
  0% {
    transform: matrix(1,0,1,0,0);
    stroke-width: 1;
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: matrix(4,0,0,4,-120,-120);
    stroke-width: 0.25;
    opacity: 0;
  }
}

.p-svg-pulse {
  .pulse {
    stroke: $brand-info;
    -webkit-animation: svg_pulse 3s ease;
    -webkit-animation-iteration-count: infinite;
  }
  .halo {
    stroke: $brand-info;
  }
  .center {
    fill: $brand-info;
  }
}

//====================================
// Nofications
//====================================

.notifications {
  z-index: 100;
  width: 300px;
  position: fixed;
  right: 50px; top: 25px;
  transform: scaleY(-1);
  overflow: hidden;

  .alert {
    opacity: 0.9;
    transform: scaleY(-1);
    border-width: 0;
    &:hover, &.current { opacity: 1 }
  }

  .alert .title { text-transform: uppercase; font-weight: bolder; }
  .alert .body { padding-top: 5px; }
}

//====================================
// App LiveView
//====================================

.app-live {
  width: 100%; height: 100%;
  background-color: white;
}

.live-return-menu {
  background-color: black;
  text-align: center;
  font-size: 75%;
  position: fixed;
  bottom: 0;
  width: 100%;
}

//====================================
// App InstallView
//====================================

.app-install {
  width: 100%; height: 100%;
  text-align: center;
  .preview {
    cursor: pointer;
    margin-top: 100px; margin-bottom: 50px;
    display: inline-block;
    vertical-align: middle;
    padding: 50px;
    transition: background 0.2s ease-in-out;
    &:hover, &.active {
      border: 4px solid $purple;
    }
  }
  .install-from-git input[name=url] {
    background-color: inherit;
    border: none;
    border-bottom: 2px solid white;
    font-size: 24px;
    width: 410px;
    padding: 20px 7px 7px 7px;
  }

  .install-from-git input[type=submit] { margin: 20px; }

  .install-from-git { padding: 20px 0 120px 0; }
}

//====================================
// NotFound
//====================================

.not-found {
  width: 100%;
  padding-top: 200px;
  text-align: center;
}

//====================================
// VERSION POD
//====================================

.version-pod {
  position: fixed;
  display: block;
  bottom: 5px; left: 5px;
  opacity: 0.25;
  &:hover {
    cursor: default;
    opacity: 1;
  }
}

//====================================
// DEVICES POD
//====================================

.devices-pod {
  color: inherit;
  position: fixed;
  top: 5px; left: 5px;
  text-decoration: none;
  opacity: 0.5;
  &:hover, &:active {
    color: inherit;
    text-decoration: none;
    opacity: 1;
  }
}

//====================================
// DEVICES POD
//====================================

.path-devices {
  text-align: center;
}

//====================================
// DEVICES MAP
//====================================

.popover-content {
  color: $grey;
}

.devices-view {
  width: 100%;
  max-height: 100%;
  overflow: hidden;
  position: relative;

  svg.devices-map {
    width: 800px;
    height: 800px;
  }

  line.connection { opacity: 0.6; }

  .device {
    cursor: pointer;
    pointer-events: all;
    rect { fill: $grey-dark; }
    &:hover rect {
      opacity: 0.05;
      fill: white;
      stroke: white;
      stroke-width: 0.2;
    }
  }
}
