
//
// Components styling file
// Divide each component with big comment lines
// Indeed, it simplifies writing CSS
//

//====================================
// DRAWER COMPONENT
//====================================

.drawer {
  padding: 20px 50px;
  text-align: center;
}

.drawer .apps-list { margin-top: -20px; }

.drawer .app {
  display: inline-block;
  vertical-align: top;
  border-radius: 3px;
  padding: 40px 20px;
  margin-top: 15px;
  overflow: hidden;
  .logo img {
    max-width: 100px;
    height: auto;
  }

  .name {
    text-transform: uppercase;
    font-size: 1.2rem;
  }

  .author {
    padding-top: 10px;
    font-weight: lighter;
    font-size: 0.8rem;
    opacity: 0.8;
  }
}

//====================================
// LAUNCHER
//====================================

.launcher {
  text-align: center;
  position: fixed;
  bottom: 50px;
  width: 100%;

  ul {
    padding: 5px 30px;
    display: inline-block;
    background-color: $black;

    border: 1px solid $grey;
    border-bottom: 2px solid $grey;

    li {
      display: inline-block;
      padding: 10px;
    }
  }
}

//====================================
// Notifications
//====================================

.notifications {
  position: fixed;
  width: 300px;
  right: 50px;
  top: 25px;

  .toast {
    display: block;
    text-align: justify;
    margin: 10px 0;
    padding: 15px;
    width: 100%;

    background-color: $blue;
    &.error { background-color: $red; }
    &.warning { background-color: $orange; }
    &.success { background-color: $green; }
  }

  .toast .title {
    text-transform: uppercase;
    font-weight: bolder;
  }

  .toast .close {
    opacity: 0.8;
    float: right;
    cursor: pointer;
  }

  .toast .body {
    padding-top: 5px;
  }
}
