// This is the main application scss list
// From here files get imported in dependency order
// and get compiled into style.css


@import 'vendor/normalize.css';

@import 'colors';
@import 'components';

* {
  margin: 0;
  padding: 0;
  outline: none;
}

body, html {
  height: 100%;
  width: 100%;
  background-color: $black;
  color: white;
}

.filter-to-white {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}

.clickable {
  cursor: pointer;
}

z-bg { z-index: 0; }
z-front { z-index: 10; }
z-super { z-index: 100; }
