//
// This is the main application scss list
// From here files get imported in dependency order
// and get compiled into style.css
// In this file global scope CSS shared across components
// must be written
//
// jesus@netbeast.co


@import 'vendor/normalize';

@import 'colors';
@import 'bootstrap';
@import 'components';

* {
  margin: 0;
  padding: 0;
  outline: none;
}

body, html {
  height: 100%;
  width: 100%;
  background-color: #fff;
  color: $grey-base;
}

.filter-to-white {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}

.clickable {
  cursor: pointer;
}

.btn {
  transition: background 0.2s ease-in-out;
}

.btn.btn-filled.btn-info { background-color: $brand-info; }
.btn.btn-filled.btn-success { background-color: $brand-success; }
.btn.btn-filled.btn-warning { background-color: $brand-warning; }
.btn.btn-filled.btn-danger { background-color: $brand-danger; }
.btn.btn-filled.btn-inverted {
    background-color: #fff;
    color: $grey-base;
}

.btn.btn-filled { color: white; }
