<section class="drawer">
  <div id="{{app.name}}" class="apps" ng-repeat="app in apps">
    <div class="del-overlay">
      <a class="btn danger" ng-click="API.delete(app.name)">Delete</a>
    </div>
    <a href="/#/apps/{{app.name}}">
      <div class="avatar desaturated">
        <i ng-if="app.avatar !== undefined">
            <!--<img src="{{app.avatar}}" alt="" />-->
        </i>
        <i ng-if="app.avatar === undefined" class="fa fa-cube"></i>
      </div>
    </a>
    <div class="name">
      {{app.name}}
    </div>
  </div>
</section>
