<br/>
<br/>
<div id="app" class='container'>
	<div class="col-xs-12 col-md-offset-2 col-md-8">
			<div class="avatar">
				<img ng-src="apps/{{app.name}}/logo" 
				alt="apps/{{app.name}}/logo" 
				style="float: left; max-height: 140px; padding: 20px;"/>
			</div>
			<h2>{{app.name}}</h2>
			<h3>{{app.description}}</h3>
			<br/>
			Edit the package JSON content to start app on boot, changing author or other configuration that you missed during development.
			<br/>
			<br/>
			<pre id="content" contenteditable="true" ng-bind-html="package">
			</pre>
			<button ng-click="update()" class="btn btn-warning pull-right">
				<i class="fa fa-upload"> update</i>
			</button>
			<br/>
			<br/>
		</div>
		<br/>
		<br/>
		<br/>
		<br/>
</div>
<br/><br/><br/><br/>
