<section class="text-center container-fluid">
  <br>
  <br>
  <div id="dz-install" class="container">
    <div class="dz-message" data-dz-message>
      <h1>Drop your bundled app here</h1>
      <h2>yourapp.tar.gz</h2>
      – or – <br/>
      <br/>
      <a class="btn btn-primary btn-lg" href="javascript:void()">Click here to select manually</a>
      <br/>
      <br/>
    </div>
  </div>

  <div class="container">
    <blockquote>
      <br/>
      <b>* Pro tip:</b>
      You can drag and drop apps directly to the dashboard homepage.
      <br/>
      ** Or directly, install from a public <i class="fa fa-git"></i> repo:
    </blockquote>
    <img style="max-height: 30px; width: auto;" src="/img/icons/ArrowdownIcon.png" alt="go" />
  </div>

  <div class="col-md-offset-3 col-md-6">
    <br/>
    <h3> <i class="fa fa-github"></i> Install app from GIT </h3>
    <form ng-submit="clone(url)" method="post">
      <input class="form-control input-lg" type="url" ng-model="url" placeholder="public git repo URL">
      <br/>
      <button type="subit" class="btn btn-primary btn-lg btn-block">Install</button>
    </form>
    <br/><br/><br/><br/><br/>
    <br/><br/>
  </div>
</section>

<!-- dropzone template, keep hidden with ng-hide -->
<div class="dz-template dz-preview dz-file-preview" ng-hide="true">
  <article class="col-xs-12 col-sm-4 col-md-3">
    <div class="apps">
      <div class="avatar">
        <img src="/img/dflt.png" alt="Upload app" />
      </div>
      <div class="dz-details">
        <div class="dz-size badge bg-blue text-white" data-dz-size>data-dz-size</div>
        <div class="dz-filename"><h4 data-dz-name class="text-red">data-dz-name</h4></div>
      </div>

      <div class="dz-error-message">
        <span data-dz-errormessage alert alert-danger>data-dz-errormessage</span>
      </div>
    </div>
  </article>
</div>
</div>
