<section id="install">
  <div id="tabs">
    <ul>
      <li ng-class="{ active: tab === 1 }">
        <a href="#/install/package" class="clickable">
          Package
        </a>
      </li>
      <li ng-class="{ active: tab === 2 }">
        <a href="#/install/github" class="clickable">
          Github
        </a>
      </li>
      <li ng-class="{ active: tab === 3 }">
        <a href="#/install/docker" class="clickable">
          Docker
        </a>
      </li>
    </ul>
  </div>

  <div ng-show="tab === 1">
    <div class="dropzone">
    </div>
  </div>

  <section ng-show="tab > 1" class="drawer">
    <div id="github" ng-show="tab === 2">
      <h2> Install from a public <i class="fa fa-git-square"> </i> repo <i ng-show="loading" class="fa fa-cog fa-spin"></i></h2>
      <form ng-submit="gitSubmit()">
        <p ng-show="gitError" style="width: 500px; margin: 10px auto -10px;" class="error">{{gitError}}</p>
        <input type="url" ng-model="gitURL" value="" 
        placeholder="Git URL">
      </input><br/>
      <br/>
      <input class="btn green" type="submit" name="submit"></input>
    </form>
    <br/>
  </div>

  <div id="docker" ng-show="tab === 3">
    <h3 >Docker incoming</h3>
  </div>
</section>
</section>