<div id="installer-tabs">
  <ul>
    <li ng-repeat="tab in tabs">
      <a class="clickable" ng-click="onClickTab(tab)">
        {{tab}}
      </a>
    </li>
  </ul>
</div>
<section class="drawer">
  <div id="package">
    <h2>Upload your own package <i class="fa fa-archive"></i></h2>
    <div class="dropzone">
    </div>
  </div>

  <div id="github" style="display:none">
    <h2> Install from Github <i class="fa fa-github"></i></h2>

    <form  action="/apps/new" method="get">
      <input type="url" name="github" value="" placeholder="github url app"></input>
      <input type="submit" value="Install from github" name="submit">
    </form>
    <br/>
  </div>

  <div id="docker" style="display:none">
    <div id="viewThree">
      Docker incoming
    </div>
  </div>
</section>
