<div id="installer-tabs">
  <ul ng-init="tab = 1">
    <li ng-class="{ active: tab === 1 }">
      <a class="clickable" ng-click="tab = 1">
        Package
      </a>
    </li>
    <li ng-class="{ active: tab === 2 }">
      <a class="clickable" ng-click="tab = 2">
        Github
      </a>
    </li>
    <li ng-class="{ active: tab === 3 }">
      <a class="clickable" ng-click="tab = 3">
        Docker
      </a>
    </li>
  </ul>
</div>

<div ng-show="tab === 1">
  <div class="dropzone">
  </div>
</div>

<section ng-show="tab > 1" class="drawer">
  <div ng-show="tab === 2">
    <h2> Install from Github <i class="fa fa-github"></i></h2>

    <form  action="/apps/new" method="get">
      <input type="url" name="github" value="" placeholder="github url app"></input>
      <br/>
      <input class="btn green" type="submit" value="Install from github" name="submit">
    </form>
    <br/>
  </div>

  <div ng-show="tab === 3">
    <div id="viewThree">
      Docker incoming
    </div>
  </div>
</section>
