<section id="app" class='drawer'>
		<a ng-show="error" ng-show="port" class="error">
			{{error}}
		</a>
	<section id="avatar-n-launcher">
		<div class="avatar">
			<i ng-if="app.logo !== undefined">
				<img ng-src="img/apps/{{app.name}}-{{app.logo}}" alt="" />
			</i>
			<i ng-if="app.logo === undefined" class="fa fa-cube"></i>
		</div>
		<a ng-show="href"  class="btn info clickable" href="#/i/{{app.name}}">
			Open {{app.name}}
		</a>
		<a ng-hide="href" class="btn">
			Launching {{app.name}}...
		</a>
	</section>
	<section id="app-details">
		<div>
			<h2>{{app.name}}</h2>
			<h1>By {{app.author}}</h1>
			<p>{{app.description}}</p>
			<div>
				<ul>
					<li>
						<h3>Version</h3>
						<p>{{app.version}}</p>
					</li>
					<li>
						<h3>License</h3>
						<p>{{app.license}}</p>
					</li>
				</ul>
				<ul>
					<li>
						<h3>Key words</h3>
						<p>
							<span ng-repeat="keyword in app.keywords">
								#{{keyword}} 
							</span>
						</p>
					</li>
					<li>
						<h3>Dependencies</h3>
						<p>{{app.dependencies}}</p>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
</section>