<div id="app" class='container text-center'>
<br/><br/>
<br/><br/>
	<section class="col-xs-12 col-sm-12 col-md-4">
		<div class="avatar">
			<img style="padding:20px; max-width: 100%;" ng-src="apps/{{app.name}}/logo" alt="" />
	</section>
		<section class="col-xs-12 col-sm-12 col-md-8">
			<div>
				<h2>{{app.name}}</h2>
				<h1>By {{app.author}}</h1>
				<p>{{app.description}}</p>

				<a ng-show="href"  class="btn btn-info" href="#/i/{{app.name}}">
					Open {{app.name}}
				</a>
				<a ng-hide="href" class="btn">
					Launching {{app.name}}...
				</a>
			<br/>
			<br/>
			<div>
				<table class="table">
					<tr>
						<td>Version</td>
						<td>{{app.version}}</td>
					</tr>						
					<tr>
						<td>License</td>
						<td>{{app.license}}</td>
					</tr>
					<tr>
						<td>Key words</td>
						<td>
							<span ng-repeat="keyword in app.keywords">
								#{{keyword}} 
							</span>
						</td>
					</tr>
				</table>
				<a target="_blank" href="http://docs.netbeast.co/category/dev/">
					Check out our docs to learn how to create your own apps
				</a>
				<br/><br/>
				<br/><br/>
				<br/><br/>
			</div>
		</div>
	</section>
</div>